<div class="jumbotron">
    <h1>LATech IOT</h1>
    <p class="lead">LATech IOT is creating a proof of concept for multiple instances of home hero pushing remotely to the cloud.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Talk about something</h2>
        <p>Not sure what to put here yet</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Description maybe</h2>
        <p>We do things.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cool IOT Integration</h2>
        <p>Oh baby I'm a professional.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <button onclick="testRestService();"> This is the test button </button>
    <script type="text/javascript">

        function testRestService(){
            var d = '{"id": 1, "password": "yolo", "data": "swaggins"}';
                $.ajax({
		        contentType: "text/json",
		        url: "http://localhost:51186/api/Entry/AddData",
		        data: d,
		        method: 'POST'
	        });
        }

    </script>
</div>
